# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Test Terraform Module
on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  test-terraform:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@main
    with:
      lxd-controller: false
      k8s-controller: true
      terraform-directories: '["terraform"]'
